@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

:root {
    --main-dark: #c72c41;
    --main-light: #ffa259;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection {
    color: #ff55b1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2;
    cursor: url();
}

button#search {
    background: linear-gradient(to left, var(--main-dark), var(--main-light));
    color: #fff;
    outline: none;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2.5rem;
    border-radius: .4rem;
}