@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection {
    color: #ff55b1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2;
    cursor: url();
}